<div class="login">
  <div class="loginBox">
    <%= render("shared/login_toggle", active: "sign_up") %>
    <%= form_for(@user, url: sign_up_path) do |f| %>
      <%= render("shared/external_sign_in") %>
      <div class="login-inputs">
        <p>Or sign up with your email:</p>
        <%= f.text_field(:username,
          class: "input-block-level flat-input small-input",
          placeholder: "Name") %>
        <%= f.email_field(:email,
          class: "input-block-level flat-input small-input",
          placeholder: "Email") %>
        <%= f.password_field(:password,
          class: "input-block-level flat-input small-input",
          placeholder: "Password") %>
        <button class="flat-btn normal-btn">Create account</button>
      </div>
    <% end %>
  </div>
</div>